
#### Topics Covered
* Comprehensions
* Lambdas<br>
* Functional Programming<br>
* List Comprehension<br>
* Tuple Comprehension<br>
* set and dictionary comprehension<br>
* enumerate<br>
* zip<br>

### List Comprehension

In [1]:
l = []
for i in range(1,11):
    a=i*i+1
    l.append(a)
l

[2, 5, 10, 17, 26, 37, 50, 65, 82, 101]

In [2]:
l = [i for i in range(2, 20)]    # Expression/Operation follwed by loop

In [3]:
l

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
l = [i*i+1 for i in range(1, 11)]   # Expression/Operation follwed by loop which will result into list
print (l)

[2, 5, 10, 17, 26, 37, 50, 65, 82, 101]

In [6]:
from math import sin
l = [sin(x) for x in range(0, 11)]
print (l)

[0.0, 0.8414709848078965, 0.9092974268256817, 0.1411200080598672, -0.7568024953079282, -0.9589242746631385, -0.27941549819892586, 0.6569865987187891, 0.9893582466233818, 0.4121184852417566, -0.5440211108893698]

In [ ]:
#ternary operation -> Conditional expressions

In [7]:
l = [34, 56, 78, 59, 33, 12, 98]
l1 = []
for i in l:
    if i < 50:
        l1.append(i)
l1

[34, 33, 12]

In [8]:
l = [34, 56, 78, 59, 33, 12, 98]
l1 = [x for x in l if x < 50]   # operation loop stmt   condtion 
print (l1)

[34, 33, 12]

In [9]:
from math import sin
l = [sin(x) for x in range(1, 11) if sin(x) < 0]
print (l)

[-0.7568024953079282, -0.9589242746631385, -0.27941549819892586, -0.5440211108893698]

In [10]:
temps = [32, 45, 33, 41, 28, 39, 35]
def to_fahrenheit(t):
    return t*(9/5.0) + 32

l = []
for i in temps:
    a = i*(9/5.0) + 32
    l.append(a)
l

[89.6, 113.0, 91.4, 105.8, 82.4, 102.2, 95.0]

In [11]:
from math import sin, cos
temps = [32, 45, 33, 41, 28, 39, 35]
def to_fahrenheit(t):
    return t*(9/5.0) + 32

l = [to_fahrenheit(t) for t in temps] # map in functional programming

In [12]:
l

[89.6, 113.0, 91.4, 105.8, 82.4, 102.2, 95.0]

In [13]:
# how we can acheive above case with map?
l= list(map(lambda t:t*(9/5.0) + 32, temps))     # map(function, iterable item)
l

[89.6, 113.0, 91.4, 105.8, 82.4, 102.2, 95.0]

In [14]:
l2 = [i for i in l if i < 90] # filter in functional programming

In [15]:
l2

[89.6, 82.4]

In [16]:
# how we can acheive above case with filter?
l2 = list(filter(lambda x: x < 90, l))   #filter(function,iterable item)  # lambda arguments: operation

In [17]:
l2

[89.6, 82.4]

In [18]:
cartesian = [(x, y) for x in ['a', 'b'] for y in ['p', 'q']]
cartesian

[('a', 'p'), ('a', 'q'), ('b', 'p'), ('b', 'q')]

In [19]:
for x in ['a', 'b']:
    for y in ['p', 'q']:
        print (x, y)

a p
a q
b p
b q

In [22]:
y = 5
x = 10 if y > 20 else 20   # ternary 
print (x)

20

### Tuple comprehension
Note: Tuple comprehension is a generator

In [24]:
gen = tuple((i for i in range(11, 21)))

In [25]:
gen = (i for i in range(11, 21))

In [26]:
gen.throw

In [27]:
next(gen, None)

11

In [28]:
next(gen)

12

### Set Comprehension

In [29]:
nums = {n**2 for n in range(10)}

In [30]:
nums

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

### Zip and Enumerate

In [31]:
l1 = [3,   4,   5,   7,   1,  8,  9]   # 7
l2 = ["Q", "P", "A", "Z", "T"]  #5

len1 = len(l1)
len2 = len(l2)

if len1 == len2:
    a = list(zip(l1, l2))
else:
    print("no zip operartion")

no zip operartion

In [41]:
a

[(3, 'Q'), (4, 'P'), (5, 'A'), (7, 'Z'), (1, 'T')]

In [32]:
for x, y in zip(l1, l2):
    print (x, y)

3 Q
4 P
5 A
7 Z
1 T

In [43]:
dict(zip(l1, l2))

{1: 'T', 3: 'Q', 4: 'P', 5: 'A', 7: 'Z'}

In [90]:
l = ["Q", "P", "A", "Z", "T"]
i = 0
for val in l:
    print (i, ":", val)
    i += 1

0 : Q
1 : P
2 : A
3 : Z
4 : T

In [33]:
l = ["Q", "P", "A", "Z", "T"]

for idx, val in enumerate(l, start=1):
    print (idx, "->", val)

1 -> Q
2 -> P
3 -> A
4 -> Z
5 -> T

### Dict Comprehension

In [34]:
keys = [x for x in range(1, 6)]
values = ['one', 'Two', 'Three', 'Four', 'Five']
d = {k: v for k, v in zip(keys, values)}

In [35]:
d

{1: 'one', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [36]:
# setting default value 0 for all keys
keys = ['Orange', 'Apple', 'Peach', 'Banana', 'Grape']
d = {k: 0 for k in keys}

In [37]:
d

{'Apple': 0, 'Banana': 0, 'Grape': 0, 'Orange': 0, 'Peach': 0}

In [38]:
d = dict(zip(keys, values))

In [39]:
d

{'Apple': 'Two',
 'Banana': 'Four',
 'Grape': 'Five',
 'Orange': 'one',
 'Peach': 'Three'}

### Functional Programming
* map()
* filter()
* reduce() # this has been moved to functools

Note: in python 3.x, reduce() has been moved to functools module

#### Procedural style

In [ ]:
temps_farenheit = [45, 67, 89, 73, 45, 89, 113]

def farenheit_to_celcius(f):
    c = (f-32.0)/(9.0/5.0)
    return c

temps_celicius = []

for t in temps_farenheit:
    temps_celicius.append(farenheit_to_celcius(t))

print (temps_celicius)

#### List Comprehension

In [ ]:
temps_farenheit = [45, 67, 89, 73, 45, 89, 113]

def farenheit_to_celcius(f):
    c = (f-32.0)/(9.0/5.0)
    return c

temps_celcius = [farenheit_to_celcius(t) for t in temps_farenheit]
print (temps_celcius)

#### Functional Style

In [ ]:
temps_farenheit = [45, 67, 89, 73, 45, 89, 113]

def farenheit_to_celcius(f):
    c = (f-32.0)/(9.0/5.0)
    return c

temps_celcius = list(map(farenheit_to_celcius, temps_farenheit))
print (temps_celcius)

#### Ternary operator in python

In [ ]:
[t for t in temps_celcius if t > 31.0]

In [ ]:
x = 35
y = 20 if x > 30 else 40
print (y)

In [ ]:
# [t for t in temps_celcius if t > 31.0]
print (temps_celcius)

def less_than_31(t):
    return True if t > 31.0 else False

l = filter(less_than_31, temps_celcius)
print (list(l))

### Ref: sorting list of tuples

In [40]:
l = [(10, 3), (9, 20), (5, 7)]
sorted(l)

[(5, 7), (9, 20), (10, 3)]

In [41]:
sorted(l, key=lambda t: t[1])

[(10, 3), (5, 7), (9, 20)]

#### Using lambdas
* lambda is single line function
* lambda is anonymous function

Syntax:<br>
```python
 lambda params: expression
```

In [42]:
f = lambda x: x*x
f(4)

16

In [43]:
f = lambda x, y: x*y
f(4,5)

20

In [44]:
temps_farenheit = [45, 67, 89, 73, 45, 89, 113]

# [farenheit_to_celcius(t) for t in temps_farenheit]

temps_celcius = map(lambda t: (t-32.0)/(9.0/5.0), temps_farenheit)
print temps_celcius

# [t for t in temps_celcius if t > 31.0]

f = lambda t: True if t > 31.0 else False

vals = filter(f, temps_celcius)
print vals

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-44-8e1930a683b0>, line 6)

In [ ]:
cum_sum = reduce(lambda x, y: x + y, [5, 6, 7, 8, 9, 1])
print cum_sum

In [ ]:

def fun():
    g = 1.8
    # closure, captures g value and takes it out-side of the scope
    return lambda x: x*g

f = fun()

print f(10)

### all()
Instead using mutiple 'and' conditions we can use all() to check all
values are non-None values.

In [ ]:
l = [3, 4, 6, 5, 3, 9]

if a == 3 and b==4 and c==6:
    asdsdgdf

a = 3
b = 4
c = 7

l1 = []
l1.append(a)

l1 = [3,4,6]    
    

if all(l1):
    print ('Valid data')
else:
    print ('Invalid data')

In [ ]:
l = [3, 4, 6, '', 3, 9]
if all(l):
    print ('Valid data')
else:
    print ('Invalid data')

### any()
Instead using mutiple 'or' conditions we can use any() to check
atleast there is one non-None value.

In [ ]:
l = [None, 0.0, 0, '', 2, False]
if any(l):
    print ('Valid data')
else:
    print ('Invalid data')