#Aliases
#how memory allocatment works in python.

In [1]:
a = 1
print (id(a))
print (id(1))
b = 1
print (id(b))
b = b + 1
print (id(b))
print (id(a))
print (a)
print (b)

2006122992
2006122992
2006122992
2006123024
2006122992
1
2

**Useful Article on Shallow Copy and Deep Copy with pictorial representation**
+ "http://www.python-course.eu/deep_copy.php"

In [12]:
# soft copy
# Lists
list_a = [1,2,3]
print (id(list_a))
list_b = list_a
print (list_a)
print (list_b)
print (id(list_b))

472903413000
[1, 2, 3]
[1, 2, 3]
472903413000

In [13]:
# modify one element
print (list_a[1])
list_b[1]="three"
print (list_a)
print (list_b)
# modify the whole list

2
[1, 'three', 3]
[1, 'three', 3]

In [6]:
list_a = [1,2,3]
print (list_a)
print (list_b)

[1, 2, 3]
[1, 'two', 3]

In [8]:
# deep copy
import copy
list_a = [1,2,3]
# example 1 of deep copy
list_b = list_a[:]
# example 2 of deep copy
list_c = copy.deepcopy(list_a)

In [9]:
print (list_b,id(list_b))
print (list_a,id(list_a))
print (list_c,id(list_c))

[1, 2, 3] 472901277256
[1, 2, 3] 472885529736
[1, 2, 3] 472885528328

In [10]:
list_c[2]="three"
print (list_c)
print (list_b)
print (list_a)

[1, 2, 'three']
[1, 2, 3]
[1, 2, 3]

In [ ]:
for    : 
    for :

In [2]:
# List comprehensions - creating list on fly.
my_square=[]
for value in range(1,11):
    my_square.append(value*value)
print (my_square)
for value in my_square:
    if value % 2 == 0 and value % 3 == 0:
        print (value)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
36

**Dictionary**

+ One of the most important built-in data structure.
+ Python's dictionaries are kind of hash tables.
+ They work like associative arrays and consist of key-value pairs. 
+ A dictionary key can be almost any Python type, but are usually numbers or strings. 
+ Values, on the other hand, can be any arbitrary Python object.
+ Dictionaries are enclosed by curly braces ( { } ) and values can be assigned and accessed using square braces ( [] ).

In [3]:
list1 = []

dict1 = {}

In [4]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"
dict

{2: 'This is two', 'one': 'This is one'}

In [ ]:
list2 = [1,2,3,4,9,0]

In [17]:
list1 = [1,2,3,[4,5,6,7]]

In [18]:
print(list1)

[1, 2, 3, [4, 5, 6, 7]]

In [5]:
tinydict = {'name': 'xyz','code':6734, 'dept': 'sales'}

print (dict['one'])      # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'dept': 'sales', 'code': 6734, 'name': 'xyz'}
dict_keys(['dept', 'code', 'name'])
dict_values(['sales', 6734, 'xyz'])

In [6]:
tinydict['name']

'xyz'

In [7]:
# dictionary
# [('eric','python'),('dave','django'),('joe','dockers'),('asdfg','puppet'),('xyz','ruby')]
my_exams = {'eric':'python','dave':'django','joe':'dockers','asdf':'puppet','xyz':'ruby'}
empty_dict1 = {}

# keys are unique and cannot be duplicated.
my_exams['dave']='Rails'
print (my_exams)

# Appending or adding a new key,value pair
my_exams['subba'] = 'scala'
print (my_exams)

{'joe': 'dockers', 'dave': 'Rails', 'eric': 'python', 'asdf': 'puppet', 'xyz': 'ruby'}
{'joe': 'dockers', 'asdf': 'puppet', 'eric': 'python', 'subba': 'scala', 'dave': 'Rails', 'xyz': 'ruby'}

In [ ]:
# cheat sheets
# list : ['apple','banana'],[],list()
# tuples: ('apple','banana'),(),tuple()
# dict  : {'a':'apple','b':'banana'},{},dict()
# sets : {}

In [21]:
# in operation : works only on keys.
print ('joe' in my_exams)
print ('scala' in my_exams)

True
False

In [8]:
# Looping
for key in my_exams:
    print (key)

joe
asdf
eric
subba
dave
xyz

In [23]:
for key in my_exams:
    print (key,my_exams[key])

joe dockers
subba scala
asdf puppet
xyz ruby
dave Rails
eric python

In [ ]:
my_exams.clear

In [24]:
# Functions
print (dir(my_exams))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# Assignment
# fromkeys,setdefault,update

In [9]:
# get
print (help(my_exams.get))

Help on built-in function get:

get(...) method of builtins.dict instance
    D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.

None

In [10]:
my_exams.get?

In [12]:
my_exams

{'asdf': 'puppet',
 'dave': 'Rails',
 'eric': 'python',
 'joe': 'dockers',
 'subba': 'scala',
 'xyz': 'ruby'}

In [14]:
print (my_exams.get('Sai','Java'))
#print (my_exams['Sai'])

Java

In [ ]:
print (my_exams.get(''))
print (my_exams['joe'])

In [ ]:
# has_key
#print (help(my_exams.has_key))  --> present in 2.x but not available in 3.x    --> 3.5 
my_exams.has_key?

In [ ]:
my_exams.

In [ ]:
# As seen above 'in' is more pythonic way and it will full fill the same purpose as has_key
'joe' in my_exams

In [ ]:
# keys
print (help(my_exams.keys))
#print (help(my_exams.iterkeys))      # removed in 3.x
#print (help(my_exams.viewkeys))      # removed in 3.x

In [ ]:
print (my_exams.keys())

In [ ]:
# values
print (help(my_exams.values))
#print (help(my_exams.itervalues))      # removed in 3.x
#print (help(my_exams.viewvalues))      # removed in 3.x

In [ ]:
print(my_exams.values())

In [26]:
# item 
#print (help(my_exams.items))
print (my_exams.items())     # list of tuples

dict_items([('joe', 'dockers'), ('subba', 'scala'), ('asdf', 'puppet'), ('xyz', 'ruby'), ('dave', 'Rails'), ('eric', 'python')])

In [15]:
print (my_exams)
print (my_exams.pop('joe'))

{'joe': 'dockers', 'asdf': 'puppet', 'eric': 'python', 'subba': 'scala', 'dave': 'Rails', 'xyz': 'ruby'}
dockers

In [16]:
print (my_exams.pop('joe'))

KeyError: 'joe'

In [17]:
#Copy
Dmy_exams = my_exams.copy()
print (Dmy_exams is my_exams)
print (Dmy_exams)
Dmy_exams.clear()
print (Dmy_exams)

False
{'subba': 'scala', 'xyz': 'ruby', 'asdf': 'puppet', 'eric': 'python', 'dave': 'Rails'}
{}

In [18]:
d = {}
d["HYD"] = 1234
d["VZG"] = 1235
d["BZA"] = 1246
d["KMM"] = 1255
for x in d:
    print (x,d[x])

KMM 1255
VZG 1235
HYD 1234
BZA 1246

In [31]:
for key, value in d.items():
    print (key, value)

HYD 1234
BZA 1246
KMM 1255
VZG 1235

In [ ]:
# list of dictionaries
lt = [('BZA', 1246), ('GTR', 1233), ('ELR', 1244), ('HYD', 1234), ('VZG', 1235)]

In [ ]:
### lt[0]

In [ ]:
lt[1][1]

In [ ]:
key = 'HYD'
for x in lt:
    if x[0] == key:
        print (x[1])
        break
else:
    print ('{} not found!'.format(key))

In [ ]:
key = 'HYD'
for city, code in lt:
    if city == key:
        print ("code for {} is {}".format(city, code))
        break
else:
    print ("code for {} not found".format(key))

In [ ]:
d1 = {'Hyd': 1234, 'Mum': 1235}
d2 = {'Blr': 1236, 'Delhi': 1237, 'Hyd':1999}
d1.update(d2)
print (d1)

In [ ]:
l1 = []

d1 = {}

### Default dictionary
 <b>Program1:</b> Find the indices of each word in the given list

In [32]:
from collections import defaultdict

fruits = ["Apple", "Orange", "Banana", "Orange", "Apple", "Banana", "Apple",
         "Peach", "Apple", "Banana"]

fruit_count = defaultdict(list)

for idx, fruit in enumerate(fruits):
    fruit_count[fruit].append(idx)
        
fruit_count

defaultdict(list,
            {'Apple': [0, 4, 6, 8],
             'Banana': [2, 5, 9],
             'Orange': [1, 3],
             'Peach': [7]})

**Tuples**

+ One of the most important built-in data structure.
+ Tuples are immutable
+ Tuples contain a heterogeneous sequence of elements that are accessed via unpacking 
 
+ tuples are enclosed by  braces ( () )

list1 = []   - Mutable / change the data 
Dict1 = {}   - Mutable / change the data 
tuple1 = ()  - Immutable/ not able to change the data 

Strings     - immutable/ not able to change the data

In [19]:
gender = ('male','female')
my_empty1 = () # empty tuple.
my_empty2 = tuple()

In [20]:
my_string = "python"
print (type(my_string))
my_string1 = ("python")       # what you can think of this?    is this tuple or string 
print (type(my_string1))
my_string2 = ("python",)
print (type(my_string2))
my_string3 = 'python','django','mysql','linux'
print (type(my_string3))

<class 'str'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [21]:
# tuple is immutable
print (gender)
print (gender[0])
gender[0] = 'Male'

('male', 'female')
male

TypeError: 'tuple' object does not support item assignment

In [26]:
# unpacking
my_alp = ('apple','banana','cherry','dates')
# put your values in a list or tuple - packing
# a = my_alp[0]
a,b,c,d = my_alp
print (a)
print (b)
print (c)
print (d)

apple
banana
cherry
dates

In [28]:
a = my_alp[0]
b = my_alp[1]
c = my_alp[2]
d = my_alp[3]
e = my_alp[4]
print (a)
print (b)
print (c)
print (d)

IndexError: tuple index out of range

In [38]:
my_alp[1:3]

('banana', 'cherry')

In [15]:
my_alp = ('apple','banana','cherry','dates')
a,b,c,d,e = my_alp

ValueError: not enough values to unpack (expected 5, got 4)

In [41]:
# Exam day
students = ['joe','eric','sam','vamsi','milind']  # what does this represent
#students.sort()
print (students)
subjects  = ['python','django','docker','puppet','ruby']

name='sam'
if name in students:
    print ("{} is going to appear {}.".format(name,subjects[students.index(name)]))

['joe', 'eric', 'sam', 'vamsi', 'milind']
sam is going to appear docker.

list of tuples -->  [(),(),()]

In [29]:
exams = [('joe','python'),('eric','django'),('sam','dockers'),('vamsi','puppet'),('milind','ruby')]   # list of tuples 
exams[0]=('Joe','python')
print (exams[0][1]) # this cannot be modified as its a tuple element.
# exams[0][1]="Java"

exams.sort()
print (exams)

python
[('Joe', 'python'), ('eric', 'django'), ('milind', 'ruby'), ('sam', 'dockers'), ('vamsi', 'puppet')]

In [50]:
exams[0:2]

[('Joe', 'python'), ('eric', 'django')]

In [51]:
exams = [('joe','python'),('eric','django'),('sam','dockers'),('vamsi','puppet'),('milind','ruby')]

name="sam"
for student,exam in exams:
    if student == name:
        print ("{} is going to give {}.".format(student,exam))

sam is going to give dockers.

In [52]:
# functions
print (gender.index('male'))
print (gender.count('male'))

0
1

In [53]:
# tuples of list
my_example = (['one','two'],['three','four'],['five','six'])
print (my_example)

(['one', 'two'], ['three', 'four'], ['five', 'six'])

In [ ]:
my_example.

In [22]:
dir(gender)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**Sets**
+ A set is an unordered collection with no duplicate elements
+ Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
+ Basic uses include membership testing and eliminating duplicate entries. 
+ sets are enclosed by curly braces ( {} )

In [30]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'pear', 'orange', 'apple', 'banana'}

In [24]:
'orange' in basket                 # fast membership testing

True

In [31]:
basket2 = {'apple', 'straberry', 'lemon', 'pear', 'pineapple', 'banana'}

In [32]:
basket - basket2        ## elements in basket1 but not in basket2    A - B

{'orange'}

In [33]:
basket | basket2       ## OR  Operation

{'apple', 'banana', 'lemon', 'orange', 'pear', 'pineapple', 'straberry'}

In [34]:
basket & basket2       ## AND Operation

{'apple', 'banana', 'pear'}

In [35]:
basket ^ basket2    ## B-A operation

{'lemon', 'orange', 'pineapple', 'straberry'}

In [36]:
list1 = [1,2,2,3,3,4,5]

In [37]:
set1 = set(list1)

In [38]:
set1

{1, 2, 3, 4, 5}

In [39]:
list2 = list(set1)
list2

[1, 2, 3, 4, 5]